.App {
  text-align: center;
  
}
.layout{
  display:flex ;
  flex-wrap: wrap;
  gap: 1rem;
}
.card{
  width: 250px;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 12px;
  border: 1px solid #2a2a2a;
  color: white;
  transition: border-color 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;  
}
.card:hover {
  border-color: #3b82f6;
}
img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: transform 0.3s ease;
}
image:hover {
  transform: scale(1.1);
}
.detail{
  display: flex;
  flex-direction: column;
}